spring.datasource.url=jdbc:postgresql://172.26.131.120:5432/stm?sslmode=disable&currentSchema=your_schema
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=your_user_name
spring.datasource.password=your_pass_word

# Each user has connection limit, set this value according to the limit.
spring.datasource.max-active=4