<!DOCTYPE html>
<html>
<head>
 <meta content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
hello world in template3

<form action="/hate">
	
</form>
<body>
<script>

var data=JSON.stringify({"personId":1,"firstName":"k","lastName":"k","address":"j","city":"fd"});
alert(data);
$.ajax({
    type:"POST",
    url:"/hate",
    data:data,
    contentType:"application/json", 
    success:function(data){
        //显示数据
    }
});
</script>

</body>
</html>